<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yescnc.core.db.widget.CustomWidgetMapper">
	<sql id="Column_List">
		id, chartType, widgetName, customTitle, polling, xpos, ypos, width, height, url, description
	</sql>
	 
	<select id="selectCustomWidgetList" resultType="com.yescnc.core.entity.db.CustomWidgetVO">
		select
			<include refid="Column_List" />
		from davis_custom_widget
	</select>
	
</mapper>