<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yescnc.jarvis.db.codeManager.CodeManagerMapper">
	<select id="getCodeList" parameterType="String" resultType="com.yescnc.jarvis.entity.db.IdcCodeVO">
		SELECT CODE_ID id,
		CODE_NAME name,
		CODE_NAME text,
	    INOUT_STATUS inOutStatus,
		IFNULL(CODE_DESC, "") codeDesc,
		PARENT_CODE_ID parentId,
		IFNULL(SORT_ORDER, 0) sortOrder,
	    IFNULL(COL1, "") column1,
	    IFNULL(COL2, "") column2
		FROM DAVIS_CODE
		WHERE PARENT_CODE_ID IS NOT NULL
		ORDER BY SORT_ORDER
	</select>
	
	<select id="insertCode" parameterType="java.util.HashMap" >
		INSERT INTO DAVIS_CODE (
		CODE_ID,
		CODE_NAME,
		INOUT_STATUS,
		CODE_DESC,
		PARENT_CODE_ID,
		SORT_ORDER,
		COL1,
		COL2) 
		values(#{id}, #{name}, #{inOutStatus}, #{codeDesc}, #{parentId}, #{sortOrder}, #{column1}, #{column2})  
	</select>
	
	<select id="deleteCode" parameterType="java.util.HashMap" >
		<!-- DELETE FROM DAVIS_CODE 
		WHERE 1=1
		AND CODE_ID = #{id} -->
		DELETE FROM DAVIS_CODE 
		WHERE 1=1
		AND CODE_ID in
		<foreach item="item" collection="param"  open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</select>
	
	<select id="updateCode" parameterType="java.util.HashMap">
		UPDATE DAVIS_CODE SET
			CODE_NAME = #{name},
			CODE_DESC = #{codeDesc},
			INOUT_STATUS = #{inOutStatus},
			COL1 = #{column1},
			COL2 = #{column2},
			SORT_ORDER = #{sortOrder}
		WHERE CODE_ID = #{id}
	</select>
	
</mapper>